<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YTC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YTC.styles.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
</head>
<body>
    <div class="main-block">
    <div id="logo-title" class="logo-title">
            <img  class="logo" src="~/img/oig.png" />
    </div>
    <div id="get-url-youtube" class="url-box">
        <form method="post" asp-controller="Home" asp-action="QualityView">
            <input type="text" name="url" />
            <input type="submit" value="Send" />
        </form>
    </div>
    <div id="main-body">
        @RenderBody()
    </div>
        <div class="about-site">
            <p>Этот сайт создавался в целях обучения с ASP.NET Core MVC и SignalR</p>
            <p>Сайт не предназначался для коммерческого использования. В связи с чем сайт имеет ряд багов.</p>
            <p>- Технический внешний вид.</p>
            <p>
                - Библиотека VideoLibrary для скачивания файлов с YouTube, видимо давно не поддерживается создателем и поэтому переодичски могут возникать проблемы со скачиванием определённых
                вариантов качества.
            </p>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
