@model YouTubeVideo
<div class="progress-title">
<div id="title">
    <p>@ViewBag.Title</p>
</div>
</div>
<div class="prog-bar">
<div id="info">
    Total Bytes: @ViewBag.totalbytes
    <span>Downloaded bytes: <div id="progress-info" class="p-info"></div></span>
</div>
<div id="download-btn">
    <form method="post" asp-controller="Home" asp-action="DownloadFile">
        <input type="submit" id="btn-download" value="Download" hidden />
    </form>
</div>
</div>
<script src="~/js/progress.js"></script>
<script>
    var total = @ViewBag.totalbytes;
    setInterval(() => {
        var currentread = document.getElementById('progress-info').innerText;
        if (currentread == total) {
            document.getElementById('btn-download').hidden = false;
        }
    }, 2000);
</script>