@model Dictionary<int, string>
<div id="file-info">
    <h1>
        Title: @ViewBag.Title
    </h1>
    <h1>
        Author: @ViewBag.Author
    </h1>
</div>
<div id="choose-quality" class="quality-v">
    <form method="post" asp-controller="Home" asp-action="ProgressDownload">
        <table>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        <input type="radio" name="code" value="@item.Key" />
                        <label>@item.Value</label>
                    </td>
                </tr>
            }
        </table>
        <input type="submit" value="PrepareFile" />
    </form>
</div>